<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dog1" class="plus.chendd.lifecycle.Dog">
        <property name="name" value="jinmao" />
    </bean>

    <!--  autowire="byName" 通过匹配ID 来得到bean中的实例  -->
    <bean id="person" class="plus.chendd.lifecycle.Person" autowire="byType">
        <property name="name" value="lihh"/>
    </bean>
</beans>